.clg {background: #e5b4b4; color: #635252; border: dashed; border-width: 2px; border-radius: 20px; border-color: #635252;}
.row1 {background: #5087c5; color: #635252;}
.row2 {background: #e5b4b4; color: #635252;}
.row3 {background: #468b40; color: #635252;}
.row4 {background: #dedf6e; color: #635252;}
