@font-face {font-family: 'newFont';
              src: url('/fonts/UntitledTTF.woff') format('woff'),
                   url('/fonts/UntitledTTF.ttf') format('truetype'),
                   url('/fonts/UntitledTTF.svg#UntitledTTF') format('svg');
              font-weight: bold;}
body {background-image: url('/img/background/snow.jpg'); background-repeat: no-repeat; height: 100%;}
a {color: #fdf9d6; text-decoration: none; font-family: 'newFont';}
a:hover {text-decoration: underline;}
