div{
	float:left;
	border: solid #000 3px;
	background-color: hsl(57, 100%, 95%);
	text-align:left;
}

.guess_box{
	height:245px;
}

#header{
 	width:100%;
 	border: 0px;
 	height:50px;
}

#main{
	background-color: hsl(57, 100%, 95%);
	height: 500px;
	border: dotted 3px #98a775;
	text-align: center;
	margin: 0px auto;
}
body {background-color: #90A775;
    margin: 0px auto;}
