.circle { box-sizing: border-box;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;}
.c1 {height: 250px; width: 250px; background-color: #e65a41; }
.c2 {height: 250px; width: 250px; background-color: #e65a41; }
.c3 {height: 250px; width: 250px; background-color: #fff; position: absolute; top:40%; left:50%}
.c4 {height: 250px; width: 250px; background-color: #fff; }
.c5 {height: 250px; width: 250px; background-color: #e65a41; }
.c6 {height: 250px; width: 250px; background-color: #e65a41; }
